@import "../colors/colors.css";

:root {
  font-family: sans-serif;
  --cc-bg: @background;
  --noti-border-color: @background;
  --noti-bg: @background;
  --noti-bg-darker: rgb(38, 38, 38);
  --noti-bg-hover: rgb(56, 56, 56);
  --noti-close-bg: rgb(78, 78, 78);
  --noti-close-bg-hover: rgb(94, 94, 94);
  --text-color: @foreground;
  --text-color-disabled: rgb(150, 150, 150);
  --notification-icon-size: 64px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 32px;
  --button-active-bg: rgb(91, 91, 91);
}

.blank-window {
  background: transparent;
}

button {
  background: var(--noti-bg-darker);
  color: var(--text-color);
  text-shadow: none;
  padding: 8px;
  border-radius: 8px;
  box-shadow: none;
  border: none;
}

button:hover {
  box-shadow: none;
  background: var(--noti-bg-hover);
  border: none;
}

trough {
  border-radius: 8px;
  background: var(--noti-bg-darker);
  border: none;
}

trough highlight {
  background: rgba(53, 132, 228, 1);
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
  transition: all .7s ease;
}

scale slider {
  border: none;
  border-radius: 8px;
  background-color: white;
}

.close-button {
  /* The notification Close Button */
  background: var(--noti-bg-darker);
  color: var(--text-color);
  text-shadow: none;
  padding: 0;
  border-radius: 8px;
  margin-top: 8px;
  margin-right: 8px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: var(--noti-bg-hover);
  transition: background 0.15s ease-in-out;
  border: none;
}

.notification-row {
  background: none;
  outline: none;
}

.notification-row .notification-background {
  padding: 6px 8px;
}

.notification-row .notification-background .notification {
  /* The actual notification */
  border-radius: 8px;
  background: var(--noti-bg);
  padding: 8px;
  margin-right: -3px;
}

.notification-row .notification-background .notification .notification-default-action {
  /* The large action that also displays the notification summary and body */
  padding: 4px;
  margin: 0;
  box-shadow: none;
  color: var(--text-color);
}

.notification-row .notification-background .notification .notification-default-action:hover {
  -gtk-icon-filter: none;
  padding: 4px;
  background: var(--noti-bg);
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
  /* When alternative actions are visible */
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  border-radius: 8px;
  padding: 0;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  /* Notification Primary Image */
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-icon-size);
  border-radius: 8px;
  /* Size in px */
  margin: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  /* Notification app icon (only visible when the primary image is set) */
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-app-icon-size);
  -gtk-icon-shadow: 0 1px 4px black;
  margin: 6px;
  border-radius: 8px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box label {
  /* Fixes base GTK 4 CSS setting a filter of opacity 50% for some odd reason */
  filter: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box {
  /* The text box containing the summary, time and body */
  margin-left: 10px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  /* Notification summary/title */
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  text-shadow: none;
  
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  /* Notification time-ago */
  font-size: 16px;
  font-weight: lighter;
  color: var(--text-color);
  text-shadow: none;
  margin-right: 35px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  /* Notification body */
  font-size: 15px;
  font-weight: normal;
  color: var(--text-color);
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
  /* The optional notification progress bar */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  /* The "extra" optional bottom notification image */
  margin-top: 4px;
  background-color: white;
  -gtk-icon-filter: none;
}

.notification-group {
  /* Styling only for Grouped Notifications */
  transition: opacity 200ms ease-in-out;
  background-color: transparent;
  /* The groups close button */
}

.notification-group:focus {
  background: transparent;
}

.notification-group .notification-group-close-button .close-button {
  margin: 12px 20px;
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
  margin: 5px 16px;
  color: var(--text-color);
}


.notification-group .notification-group-headers .notification-group-icon {
  color: var(--text-color);
  -gtk-icon-size: var(--notification-group-icon-size);
}

.notification-group .notification-group-headers .notification-group-header {
  color: var(--text-color);
  font-size: 1.2rem;
}

/* .notification-group.collapsed.not-expanded {
  opacity: 0.2;
} */

.notification-group.collapsed .notification-row .notification {
  background-color: var(--noti-bg);
}

.control-center {
  /* The Control Center which contains the old notifications + widgets */
  background: rgba(17,17,17, 0.9);
  color: var(--text-color);
  border-radius: 8px;
  padding: 0px 4px;
}

.control-center-list-placeholder {
  /* The placeholder when there are no notifications */
  opacity: 0.5;
}

/*** Widgets ***/

/* Title widget */
.widget-title>label {
  margin: 8px;
  font-size: 1.5rem;
}

/* buttons grid widget */
.widget-buttons-grid {
  /* The widget that contains the buttons grid */
  margin: 0px;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  font-size: 1.15rem;
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked {
  background-color: rgba(53, 132, 228, 1);
  color: white;
}

/* Mpris widget */
:root {
  --mpris-album-art-icon-size: 96px;
}

.widget-mpris {
  margin: 0;
  /* The parent to all players */
}

.widget-mpris > box > button {
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0px 4px;
}

.widget-mpris

.widget-mpris-player {
  margin: 4px 10px;
  border-radius: 8px;
}

.mpris-overlay {
  background-color: @background;
}

.widget-mpris .widget-mpris-player .mpris-background {
  filter: blur(100px);
  background-color: rgba(0, 0, 0, 1);
}

.mpris-overlay > box > button {
  margin-top: 12px;
}

.widget-mpris-player-buttons {
  padding: 18px;
}

.widget-mpris-album-art {
  border-radius: 8px;
  -gtk-icon-size: var(--mpris-album-art-icon-size);
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}

/* Menubar widget */
.widget-menubar > box > box > button {
  padding: 8px 24px;
  font-size: 1.2rem;
  margin: 0;
}

/* Volume widget */
.widget-volume label,
.widget-backlight label {
  font-size: 1.5rem;
  margin-right: 6px;
}