@import "../colors/colors.css";

* {
    font-family: sans-serif;
    border: none;
    border-radius: 0;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window,
tooltip,
tooltip * {
    color: @foreground;
    background-color: @background;
}

window#waybar {
    border-radius: 8px;
}

#workspaces button {
    color: #555869;
    border-radius: 8px;
    padding: 4px 8px;
    margin: 2px 0px;
}

#workspaces button.active {
    color: @foreground;
}

#workspaces button.focused {
    color: @foreground;
    background: #eba0ac;
    border-radius: 8px;
}

#workspaces button.urgent {
    color: #3584e4;
    border-radius: 8px;
}

#workspaces button:hover {
    background: #cdd6f4;
    color: @background;
}

#window,
#clock,
#network,
#battery,
#bluetooth,
#cpu,
#memory,
#workspaces,
#mpris,
#tray,
#power-profiles-daemon,
#custom-notifications,
#custom-controlcenter {
    padding: 0px 10px;
    margin: 2px 0px;
    /* for debug  */
    /* border: 1px solid #b00d74; */
}

#pulseaudio {
    padding: 0px 5px;
    /* border: 1px solid #b00d74; */
}

#tray menu {
    background: @background;
}

#tray menu menuitem:hover {
    background: @foreground;
    color: @background;
}
